<section class="custom-panel">
    <header>
        <h1>Elo Emocional</h1>
        <h2>Conectando Pacientes e Psicólogos</h2>
    </header>
    <img src="assets/img/home-image.webp" alt="Imagem Inicial Elo Emocional">
    <div class="content">
        <p>
            Bem-vindo ao <strong>Elo Emocional</strong>, sua ponte confiável entre pacientes e psicólogos. Nossa missão é simplificar o agendamento e a gestão de sessões de psicologia, criando um ambiente onde profissionais e pacientes possam se conectar com facilidade e segurança.<br /><br />
            Nossa plataforma, hospedada na nuvem, foi construída com tecnologias modernas e seguras, garantindo uma experiência confiável e acessível. O Elo Emocional é mais do que uma ferramenta, é um espaço dedicado à saúde mental, onde a gestão de sessões psicológicas é simplificada para todos os envolvidos.<br /><br />
            Explore, utilize e sinta-se à vontade para compartilhar suas impressões e sugestões conosco. Sua jornada emocional é importante para nós.
            <br /><br />Com carinho, <br />Matheus Sena
        </p>
    </div>
</section>
