<mat-drawer-container class="container" autosize>
    <mat-drawer #drawer class="sidenav" mode="side">
        <img src="assets/img/side-image.png" alt="Imagem de navegação">
        <mat-nav-list class="nav-list">
            <a mat-list-item class="nav-list">
                <i class="material-icons">home</i>
                Início
            </a>
            <a mat-list-item>
                <i class="material-icons">psychology</i>
                Psicólogos
            </a>
            <a mat-list-item>
                <i class="material-icons">person</i>
                Pacientes
            </a>
            <a mat-list-item>
                <i class="material-icons">event</i>
                Sessões
            </a>
            <a mat-list-item href="https://github.com/SeuUsuario/eloemocional-front" target="_blank">
                <i class="material-icons">code</i>
                Github
            </a>
            <a mat-list-item>
                <i class="material-icons">logout</i>
                Sair
            </a>
        </mat-nav-list>
    </mat-drawer>

    <div class="sidenav-content">
        <app-header></app-header>
        <button class="menu mat-elevation-z8" (click)="drawer.toggle()" mat-icon-button>
            <mat-icon>menu</mat-icon>
        </button>
        <router-outlet></router-outlet>
    </div>
</mat-drawer-container>
